*{
    margin: 0px;
}


.header{
 
width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(13, 13, 13);
    background-color: rgb(233, 1, 1);
    font-family: Arial, Helvetica, sans-serif;
}
.Header_box{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-left:755px;
    padding: 45px;
    width: 300px;
    height: 200px;
    background-color: #ffff;
    border-radius:20px;
    color: rgb(21, 21, 21);
    border: rgb(255, 255, 255) solid 1px;
}
.Header_box h1{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
}
.container{
    display: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
   background-color: #ffff;
}



.row-1, .row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.texto{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.horarios{
    font-size: large;
    color: rgb(2, 1, 1);
    font-family: Arial, Helvetica, sans-serif;
}

.botao{
    width: 200px;
    height: 30px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255) ;
    border: rgb(233, 5, 5) solid 1px;
    border-radius: 30px;
    transition: .0.25s;
}
.botao:hover{
    width: 200px;
    height: 30px;
    transition: 1s;
    background-color: rgb(185, 68, 68);
    color: rgb(8, 7, 7);
    border: rgb(240, 0, 0) solid 1px;
    border-radius: 5px;
    transform: scale(1.1);
}
.salas{  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 50px;
    background-color:#ffff;
    border-radius:20px;
    color: rgb(0, 0, 0);
    border: rgb(241, 6, 6) solid 1px;
}

.salas_grande{  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 50px;
    background-color:#ffff;
    border-radius:20px;
    color: rgb(0, 0, 0);
    border: rgb(255, 3, 3) solid 1px;
}

.salas_menor{  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 50px;
    background-color:#ffff;
    border-radius:20px;
    color: rgb(0, 0, 0);
    border: rgb(220, 9, 9) solid 1px;
    
}
.texto_menor{
    text-decoration: none;
    color: rgb(11, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
}


.botao_menor{
    width: 200px;
    height: 30px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255) ;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 30px;
    transition: .0.25s;
  


}

.botao_menor:hover{
    width: 200px;
    height: 30px;
    transition: 1s;
    transition: transform .3s;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-filter: drop-shadow(10px 10px 10px rgb(167, 21, 21));
    filter: drop-shadow(10px 10px 10px rgb(231, 19, 19));
}
