*{
    margin: 0;
}

.container-sala3{   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-sala3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(50, 50, 200) ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.infos-sala3{
    width: 500px;
    height: 350px;
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    border-radius: 10px;
    box-shadow:20px 10px black;
}


.texto_nome-sala3{
    font-size: 35px;
    color: rgb(50, 50, 200);
}

.texto_infos{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.botao-sala3{
    margin-top: 30px;
    width: 125px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 200) ;
    border: rgb(50, 50, 200) solid 1px;
    border-radius: 5px;
}

.botao-sala3:hover{
    margin-top: 30px;
    width: 125px;
    height: 30px;
    transition: 1s;
    transition: transform .3s;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-filter: drop-shadow(10px 10px 10px rgb(167, 21, 21));
    filter: drop-shadow(10px 10px 10px rgb(231, 19, 19));


}